body {
    background-color: rgb(48, 35, 70);
    text-align: center;
}
main {
    margin-left: 10%;
    margin-right: 10%;
    height: max-content;
    background-color: rgb(249, 247, 252);
    
}

h1 {
    text-align: center;
    color: rgb(152, 100, 237);
  }

  h3, h4 {
    text-align: center;
    color: rgb(178, 136, 245);
  }
  
  .error-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  nav {
    background-color: rgb(57, 56, 58);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(133, 199, 243);
    text-decoration: none;
}
